* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  color: hsl(218, 44%, 22%);
}

h1 {
  font-size: 25px;
}

p {
  font-size: 15px;
  white-space: pre-line;
}

.container {
  max-width: 320px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 1em 3em;
  gap: 1.5em;
  text-align: center;
  margin: 0.5em;
}

img {
  border-radius: 10px;
  width: 100%;
}

.attribution {
  position: absolute;
  bottom: 10px;
}
